body{
    margin: 0;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position:center;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loginForm{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

.loginForm>*{
    display: block;
    margin:20px;
    border-radius: 5px;
    border:none;
    padding:5px 10px;

}
.loginForm>input{
    background-color: rgba(0, 0, 0, 0.246);
    color: #ffffff;
}
.loginForm .submit{
    display:flex;
    justify-content:flex-end;
}

.loginForm .submit>*{
    border-radius: 5px;
    border:none;
    padding:5px 10px;
    background-color: #5080be;
    color:#ffffff;
}

.loginForm .submit>*:hover{
    background-color: #345f97;
}